<%# Тут мы можем писать просто html %>
<h1>Я демо страничка!</h1>

<p>
  Время сейчас:
  <%# С помощью конструкций <%= ... => мы можем выводить строки из переменных %>
  <%# экземпляра шаблона. %>
  <%= @time %>
</p>

<p>
  <%= @hello %>
</p>
